<%- include ("partials/header.ejs") %>

<div class="card bg-dark text-white">
    <img src="https://invinciblengo.org/photos/event/slider/kasol-sar-pass-trekking-expedition-kullu-himachal-pradesh-HMgkmr5-1440x810.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title display-4">Welcome to the Top Trekking Site of India</h5>
      <p class="card-text">This website is designed in a way so that you can get any of the information you need for trekking at all the places in india without any hassles.</p>
      <p class="card-text">Last updated 3 mins ago</p>
      <a href="/campgrounds" class="btn-lg btn-primary">See Trekking Sites</a>
    </div>
  </div>



<%- include ("partials/footer.ejs") %>